name: Build, test and push images on demand
on:
  repository_dispatch:
    types: [updateall]
  workflow_dispatch:
jobs:
  buildtestandpush:
    # The type of runner that the job will run on
    strategy:
      fail-fast: true
      matrix:
        image: ["sharedpy3keras1.2", "mpra-dragonn", "extended_coda", "mmsplice",
          "mmsplice-mtsplice", "deepmel", "framepool", "kipoisplice", "deeptarget",
          "attentivechrome", "bpnet-oskn", "seqvec", "deepflybrain", "aparent-site_probabilities",
          "aparent-veff", "deepstarr"]
    runs-on: ubuntu-latest
    env:
      SINGULARITY_PULL_FOLDER: "/home/runner/singularity/"
      ZENODO_ACCESS_TOKEN: ${{ secrets.ZENODOACCESSTOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUBPAT }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Setup Go
      uses: actions/setup-go@v3
    - name: Fetch system level dependencies
      run: sudo apt-get -q update && sudo apt-get install -y build-essential squashfs-tools
        libseccomp-dev cryptsetup libhdf5-serial-dev pkg-config
    - name: Build and install Apptainer
      run: |
        export VERSION=1.0.2 && \
        wget https://github.com/apptainer/apptainer/releases/download/v${VERSION}/apptainer-${VERSION}.tar.gz && \
        tar -xzf apptainer-${VERSION}.tar.gz && \
        cd apptainer-${VERSION}
        ./mconfig -v -p /usr/local
        make -C ./builddir all && sudo make -C ./builddir install
        cd ../ && rm apptainer-${VERSION}.tar.gz && rm -rf apptainer-${VERSION}
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        mkdir -p /home/runner/singularity/
        python -m pip install --upgrade pip
        pip install .
    - name: Build and test ${{ matrix.image }}
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.kipoi-base-env -t kipoi/kipoi-docker:kipoi-base-env . 
        docker build -f dockerfiles/Dockerfile.${{ matrix.image }} -t kipoi/kipoi-docker:${{ matrix.image }} . 
        pytest -s test-containers/test_containers_from_command_line.py --image=kipoi/kipoi-docker:${{ matrix.image }}
    - name: Build and test ${{ matrix.image }}-slim
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.${{ matrix.image }}-slim -t kipoi/kipoi-docker:${{ matrix.image }}-slim . 
        pytest -s test-containers/test_containers_from_command_line.py --image=kipoi/kipoi-docker:${{ matrix.image }}-slim
    - name: Push ${{ matrix.image }} and ${{ matrix.image }}-slim
      shell: bash -l {0}
      if: ${{ success() }}
      run: |
        docker login --username ${{ secrets.DOCKERUSERNAME }} --password ${{ secrets.DOCKERPASSWORD }}
        docker push kipoi/kipoi-docker:${{ matrix.image }} 
        docker push kipoi/kipoi-docker:${{ matrix.image }}-slim
        docker system prune -a -f
  buildandtestsharedpy3keras2tf1:
    # The type of runner that the job will run on
    strategy:
      fail-fast: true
      matrix:
        modelgroup: ["Basenji", "CleTimer", "FactorNet", "DeepBind", "lsgkm-SVM", "rbp_eclip"]
    runs-on: ubuntu-latest
    env:
      SINGULARITY_PULL_FOLDER: "/home/runner/singularity/"
      ZENODO_ACCESS_TOKEN: ${{ secrets.ZENODOACCESSTOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUBPAT }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Setup Go
      uses: actions/setup-go@v3
    - name: Fetch system level dependencies
      run: sudo apt-get -q update && sudo apt-get install -y build-essential squashfs-tools
        libseccomp-dev cryptsetup libhdf5-serial-dev pkg-config
    - name: Build and install Apptainer
      run: |
        export VERSION=1.0.2 && \
        wget https://github.com/apptainer/apptainer/releases/download/v${VERSION}/apptainer-${VERSION}.tar.gz && \
        tar -xzf apptainer-${VERSION}.tar.gz && \
        cd apptainer-${VERSION}
        ./mconfig -v -p /usr/local
        make -C ./builddir all && sudo make -C ./builddir install
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        mkdir -p /home/runner/singularity/
        sudo apt-get update && sudo apt-get install -y libhdf5-serial-dev pkg-config
        python -m pip install --upgrade pip
        pip install .
    - name: Build and test sharedpy3keras2tf1 with ${{ matrix.modelgroup }}
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.kipoi-base-env -t kipoi/kipoi-docker:kipoi-base-env . 
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf1 -t kipoi/kipoi-docker:sharedpy3keras2tf1 . 
        pytest -s test-containers/test_containers_from_command_line.py --image=kipoi/kipoi-docker:sharedpy3keras2tf1 --modelgroup=${{ matrix.modelgroup }}
    - name: Build and test sharedpy3keras2tf1-slim with ${{ matrix.modelgroup }}
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf1-slim -t kipoi/kipoi-docker:sharedpy3keras2tf1-slim . 
        pytest -s test-containers/test_containers_from_command_line.py --image=kipoi/kipoi-docker:sharedpy3keras2tf1-slim --modelgroup=${{ matrix.modelgroup }}
  buildandtestsharedpy3keras2tf2:
    # The type of runner that the job will run on
    strategy:
      fail-fast: true
      matrix:
        modelgroup: ["Basset,HAL,DeepSEA,Optimus_5Prime,labranchor,SiSp,MaxEntScan,pwm_HOCOMOCO",
          "Xpresso", "scbasset"]
    runs-on: ubuntu-latest
    env:
      SINGULARITY_PULL_FOLDER: "/home/runner/singularity/"
      ZENODO_ACCESS_TOKEN: ${{ secrets.ZENODOACCESSTOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUBPAT }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Setup Go
      uses: actions/setup-go@v3
    - name: Fetch system level dependencies
      run: sudo apt-get -q update && sudo apt-get install -y build-essential squashfs-tools
        libseccomp-dev cryptsetup libhdf5-serial-dev pkg-config
    - name: Build and install Apptainer
      run: |
        export VERSION=1.0.2 && \
        wget https://github.com/apptainer/apptainer/releases/download/v${VERSION}/apptainer-${VERSION}.tar.gz && \
        tar -xzf apptainer-${VERSION}.tar.gz && \
        cd apptainer-${VERSION}
        ./mconfig -v -p /usr/local
        make -C ./builddir all && sudo make -C ./builddir install
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        mkdir -p /home/runner/singularity/
        sudo apt-get update && sudo apt-get install -y libhdf5-serial-dev pkg-config
        python -m pip install --upgrade pip
        pip install .
    - name: Build and test sharedpy3keras2tf2 with ${{ matrix.modelgroup }}
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.kipoi-base-env -t kipoi/kipoi-docker:kipoi-base-env . 
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf2 -t kipoi/kipoi-docker:sharedpy3keras2tf2 . 
        pytest -s test-containers/test_containers_from_command_line.py --image=kipoi/kipoi-docker:sharedpy3keras2tf2 --modelgroup=${{ matrix.modelgroup }}
    - name: Build and test sharedpy3keras2tf2-slim with ${{ matrix.modelgroup }}
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf2-slim -t kipoi/kipoi-docker:sharedpy3keras2tf2-slim . 
        pytest -s test-containers/test_containers_from_command_line.py --image=kipoi/kipoi-docker:sharedpy3keras2tf2-slim --modelgroup=${{ matrix.modelgroup }}
  buildandpushkipoibaseenvandsharedpy3keras2:
    needs: [buildandtestsharedpy3keras2tf1, buildandtestsharedpy3keras2tf2, buildtestandpush]
    runs-on: ubuntu-latest
    env:
      SINGULARITY_PULL_FOLDER: "/home/runner/singularity/"
      ZENODO_ACCESS_TOKEN: ${{ secrets.ZENODOACCESSTOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUBPAT }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Setup Go
      uses: actions/setup-go@v3
    - name: Fetch system level dependencies
      run: sudo apt-get -q update && sudo apt-get install -y build-essential squashfs-tools
        libseccomp-dev cryptsetup libhdf5-serial-dev pkg-config
    - name: Build and install Apptainer
      run: |
        export VERSION=1.0.2 && \
        wget https://github.com/apptainer/apptainer/releases/download/v${VERSION}/apptainer-${VERSION}.tar.gz && \
        tar -xzf apptainer-${VERSION}.tar.gz && \
        cd apptainer-${VERSION}
        ./mconfig -v -p /usr/local
        make -C ./builddir all && sudo make -C ./builddir install 
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        mkdir -p /home/runner/singularity/
        sudo apt-get update && sudo apt-get install -y libhdf5-serial-dev pkg-config
        python -m pip install --upgrade pip
        pip install .
    - name: Build and push sharedpy3keras2tf1 and kipoi-base-env
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.kipoi-base-env -t kipoi/kipoi-docker:kipoi-base-env . 
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf1 -t kipoi/kipoi-docker:sharedpy3keras2tf1 . 
        docker login --username ${{ secrets.DOCKERUSERNAME }} --password ${{ secrets.DOCKERPASSWORD }}
        docker push kipoi/kipoi-docker:kipoi-base-env
        docker push kipoi/kipoi-docker:sharedpy3keras2tf1
        docker system prune -a -f
    - name: Build and push sharedpy3keras2tf1-slim
      shell: bash -l {0}
      if: ${{ success() }}
      run: |
        docker login --username ${{ secrets.DOCKERUSERNAME }} --password ${{ secrets.DOCKERPASSWORD }}
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf1-slim -t kipoi/kipoi-docker:sharedpy3keras2tf1-slim . 
        docker push kipoi/kipoi-docker:sharedpy3keras2tf1-slim
        docker system prune -a -f
    - name: Build and push sharedpy3keras2tf2
      shell: bash -l {0}
      run: |
        docker build -f dockerfiles/Dockerfile.kipoi-base-env -t kipoi/kipoi-docker:kipoi-base-env . 
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf2 -t kipoi/kipoi-docker:sharedpy3keras2tf2 . 
        docker login --username ${{ secrets.DOCKERUSERNAME }} --password ${{ secrets.DOCKERPASSWORD }}
        docker push kipoi/kipoi-docker:sharedpy3keras2tf2
        docker system prune -a -f
    - name: Build and push sharedpy3keras2tf2-slim
      shell: bash -l {0}
      if: ${{ success() }}
      run: |
        docker build -f dockerfiles/Dockerfile.sharedpy3keras2tf2-slim -t kipoi/kipoi-docker:sharedpy3keras2tf2-slim . 
        docker login --username ${{ secrets.DOCKERUSERNAME }} --password ${{ secrets.DOCKERPASSWORD }}
        docker push kipoi/kipoi-docker:sharedpy3keras2tf2-slim
        docker system prune -a -f
  buildtestandpushsingularity:
    needs: [buildandpushkipoibaseenvandsharedpy3keras2, buildandtestsharedpy3keras2tf1,
      buildandtestsharedpy3keras2tf2, buildtestandpush]
    strategy:
      fail-fast: false
      matrix:
        image: ["sharedpy3keras1.2", "sharedpy3keras2tf1", "sharedpy3keras2tf2", "mpra-dragonn",
          "extended_coda", "mmsplice", "mmsplice-mtsplice", "deepmel", "framepool",
          "kipoisplice", "deeptarget", "attentivechrome", "bpnet-oskn", "seqvec",
          "deepflybrain", "aparent-site_probabilities", "aparent-veff", "deepstarr"]
    runs-on: ubuntu-latest
    env:
      SINGULARITY_PULL_FOLDER: "/home/runner/singularity/"
      ZENODO_ACCESS_TOKEN: ${{ secrets.ZENODOACCESSTOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUBPAT }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Setup Go
      uses: actions/setup-go@v3
    - name: Fetch system level dependencies
      run: sudo apt-get -q update && sudo apt-get install -y build-essential squashfs-tools
        libseccomp-dev cryptsetup libhdf5-serial-dev pkg-config
    - name: Build and install Apptainer
      run: |
        export VERSION=1.0.2 && \
        wget https://github.com/apptainer/apptainer/releases/download/v${VERSION}/apptainer-${VERSION}.tar.gz && \
        tar -xzf apptainer-${VERSION}.tar.gz && \
        cd apptainer-${VERSION}
        ./mconfig -v -p /usr/local
        make -C ./builddir all && sudo make -C ./builddir install
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        mkdir -p /home/runner/singularity/
        python -m pip install --upgrade pip
        pip install . 
    - name: Update the singularity image of kipoi/kipoi-docker:${{ matrix.image }}-slim
      shell: bash -l {0}
      if: ${{ success() }}
      run: |
        update_all_singularity kipoi/kipoi-docker:${{ matrix.image }}-slim
